---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="소개" description="crowwan 에 대하여" pubDate={new Date('2026-06-08')}>
	<p>안녕하세요, crowwan 입니다.</p>
	<p>
		이 블로그는 개발하면서 배운 것들을 매일 기록하는 공간입니다. 이전 글들은
		<a href="https://velog.io/@crowwan">velog(@crowwan)</a>에서 옮겨 왔습니다.
	</p>
	<p>
		더 많은 작업은 <a href="https://github.com/crowwan">GitHub</a>에서 볼 수 있습니다.
	</p>
</Layout>
